@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&family=Prompt:ital,wght@0,200;0,400;1,200;1,400&display=swap');
:root{
    --color-naranja: #FE9A22;
    --color-naranja-claro: #FFC278;
    --color-azul: #2EC5CE;
    --color-icon-header-bg: #e7e7e8;
    --color-icon-header: #969BAB;
    --font-size-logo: 20px;
    --color-text: #18191F;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Manrope', sans-serif;
    overflow-y: overlay;
}

body::-webkit-scrollbar{
    width: 8px;
}

body::-webkit-scrollbar-thumb{
    background-color: #D2D2D2;
    border-radius: 5px;
}

.header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 72px;
    top: 0;
    /* padding: 20px 165px; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 900;
    background: #fff;
}

.header nav {
    width: 100%;
    padding: 0 165px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header .container-btn__menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.container-btn__menu .container-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 50%;

    transition: all .03s ease-in;
}

.container-btn__menu .container-logo:hover{
    background-color: var(--color-icon-header-bg);
}



.container-btn__menu .container-logo i{
   color: var(--color-naranja) ;
   font-size: 30px;
   transition: all .1s ease 0s;
}

.container-btn__menu .container-logo:hover i{
    color: var(--color-icon-header);
}

.container-btn__menu .left-nav-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;

} 

.left-nav-items a{
    text-decoration: none;
    color: var(--color-text);
    font-size: 16px;
    font-weight: 600;
    font-family: 'Manrope', sans-serif;
}


.header .logotype{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     gap: 10px;
     margin-right: 118px;
} 

.logotype .logo-svg i{
    font-size: 30px;
    color: var(--color-naranja);
}

.logotype a{
    text-decoration: none;
    color: var(--color-text);
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: 800;
}


.header .social-links{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.social-links a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--color-icon-header-bg);
    transition: all .1s ease;
}

.social-links a i{
    font-size: 28px;
    color: var(--color-icon-header);
    transition: all .1s ease;
}

.social-links a:hover{
    background-color: #d1d1d1;
}

.social-links a:hover i{
    color: #616572;
}

/* <<---------------------------- menu desplegable --------------------------------->> */

aside .screen-menu__open{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #50505085;
    z-index: 1001;
    top: 0;
    left: 0;
    
    transition: all .3s ease-out;
}

aside .container-menu{
    z-index: 1002;
    position: fixed;
    top:0;
    left:0;
    width: 370px;
    height: 100%;
    background-color: #fff;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    transition: all .2s ease-in-out;
}

.container-menu .btn-folded{
    position: absolute;
    right: 30px;
    top: 31px;
    cursor: pointer;

    transition: all .1s ease-in;
}

.container-menu .btn-folded:hover{
    right: 35px;
}

.btn-folded i{
    color: #969BAB;
    font-size: 31px;
}

.container-menu .header-menu{
    display: flex;
    align-items: flex-end;
    padding-left: 27px;
    height: 146px;
} 

.header-menu h3{
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
}

.container-menu .menu-link-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 27px;
    padding: 52px 0px 0px 27px;
}

.menu-link-section .link-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    gap: 8px;
    text-decoration: none;
    color: var(--color-text);
    transition: all .1s ease-in;
}

.menu-link-section .link-section:hover{
    transform: translateX(8px);
}

.link-section .icon i{
    font-size: 20px;
    margin-right: 5px;
}

.link-section h3{
    margin: auto;
}

.link-section h3::first-child{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-text);
}

.link-section h3:last-child{
    color: var(--color-icon-header);
}

.container-menu.unfolded{
    transform: translateX(-100%);
}

.screen-menu__open.hidden{
    opacity: 0;
    visibility: hidden;
}

.container-menu:hover{
    overflow-y: overlay;
}

.container-menu::-webkit-scrollbar{
    width: 8px;
}

.container-menu::-webkit-scrollbar-thumb{
    background-color: #D2D2D2;
    border-radius: 5px;
}


/* <<---------------------------- section 1 --------------------------------->> */


section .container-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 165px;
    margin: auto;
}

.container-section .container-titles{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.container-titles h3,
.container-titles h2{
    font-family: 'Manrope', sans-serif;
    margin: auto;
}

.container-titles h2{
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
}

.container-titles h3{
    font-size: 48px;
    line-height: 64px;
    font-weight: 800;
}

.container-section .reloj{
   font-size: 5.5em;
   font-weight: 200;
   /* line-height: 98px; */
   margin: .7em 5px;
}

.container-section .container-btn__clock{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 37px;
    padding: 0;
    flex-wrap: wrap;
}

.container-btn__clock button{
    width: 200px;
    height: 68px;
    border: none;
    border-radius: 4px;
    background-color: var(--color-azul);
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;

    box-shadow: 0px 2px 4px rgba(136, 144, 194, 0.2), 0px 5px 15px rgba(37, 44, 97, 0.15);
    transition: all .05s ease-in;
    flex-grow: 1;

}

.container-btn__clock button:hover,
.container-btn__clock button:focus{
    background-color: #45e2eb;
}

.container-clock{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
}

.container-clock p.pause{
    margin-bottom: 5.5em;
    font-size: 22px;
    font-weight: 800;
    color: #eb3a3a;
}

p.pause.hidden{
    visibility: hidden;
    opacity: 0;
}



/* <<---------------------------- section 2 --------------------------------->> */

.stage{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 25em;
    background-color: var(--color-icon-header-bg);
    border-radius: 20px;
}

.stage .ball{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    background-color: var(--color-naranja-claro);
}



/* <<---------------------------- section 3 --------------------------------->> */

#section3 .container-buttons{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
} 

.container-buttons input[type="date"]{
    width: 175px;
    height: 35px;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: var(--color-icon-header);
    box-shadow: 0px 2px 4px rgba(136, 144, 194, 0.2), 0px 5px 15px rgba(37, 44, 97, 0.15);
    outline: none;
}


.container-buttons input[type="date"]::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 3px;
    cursor: pointer;
    border-radius: 3px;
}

.container-buttons input[type="text"]{
    width: 417px;
    height: 54px;
    padding-left: 15px;
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    border: none;
    background-color: #EEEFF4;
    outline: none;
    border-radius: 5px;

    transform: all .1s ease;
}

.container-buttons input[type="text"]:focus{
    border-left: 3px solid var(--color-naranja);
    border-right: 3px solid var(--color-naranja);
}

.container-buttons .cont-btn__bottom{
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
}

.cont-btn__bottom input[type="text"],
.cont-btn__bottom button{
    flex-grow: 1;
}

.container-buttons button{
    width: 158px;
    height: 54px;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(136, 144, 194, 0.2), 0px 5px 15px rgba(37, 44, 97, 0.15);
    transition: all .05s ease-in;
}

.container-buttons button.iniciar{
    background-color: var(--color-azul);
    color: #fff;

}
.container-buttons button.iniciar:hover{
    background-color: #45e2eb;
}

.container-buttons button.reiniciar{
    background-color: #D5FAFC;
    color: var(--color-text);
}


.container-buttons button.reiniciar:hover{
    background-color: #9afaff;
}


/* <<------ countdown -------->> */

.container-countdown{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 3em 0;
}

.container-countdown .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 40px; */
    width: 183px;
    height: 197px;
} 

.box > span{
    color: rgb(203 203 203);
}

.container-countdown .box span:first-child{
    font-weight: 800;
    font-size: 72px;
}

.container-countdown .box span:last-child{
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
}

.container-title-countdown .title-countdown{
    font-weight: 900;
    font-size: 48px;
    color: var(--color-naranja);
}
















/* <<------------------- responsive design -------------------->> */


@media screen and (max-width: 900px){
    section .container-section{
        padding: 5em 1em;
    }

    /* <<---------------- header --------------------> */
    .header{
        top: 0;
        /* padding: 20px 20px; */
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background: #fff;
        height: 65px;
    }

    .header nav {
        padding: 0 1em;
        justify-content: space-between;
        
    }


    .container-btn__menu .left-nav-items{
        display: none;
    } 


    .header .social-links{
       display: none;
   }

   .container-btn__menu .container-logo {
        width: 2em; height: 2em;
   }

   .container-btn__menu .container-logo i{
       font-size: 25px;
   }

   .header .logotype{
       margin-right: 0;
       gap: 5px;
   }
   .header .logotype .logo-svg i{
       font-size: 25px;

   }


    /* <<---------------- lateral menu --------------------> */

   
    aside .container-menu{
        width: 16rem;
    }

    .header-menu h3{
        font-size: 23px;
    }

    .container-menu .menu-link-section{
        padding: 15px 0 0 27px;
        gap: 20px;
    }

    .link-section h3{
        font-size: 12px;
    }

    .link-section .icon i{
        font-size: 20px;
    }

    .btn-folded i{
        font-size: 24px;
    }


    /* <<---------------- section 1 --------------------> */

    .container-section .container-titles{
        gap: 5px;
    }

    .container-titles h3{
        font-size: 23px;
        line-height: 18px;
    }

    .container-titles h2{
        font-size: 18px;
    }

    .container-clock{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 40px 10px;
    }

    .container-section .reloj{
        font-size: 35px;
        margin-bottom: 5px;
    }
   
    .container-clock p.pause{
        font-size: 18px;
        margin-bottom: 20px;
        margin-top: 5px;
    }

    .container-btn__clock button{
        width: 146px;
        height: 46px;
        font-size: 15px;
        flex-grow: 0;
    }

    .container-section .container-btn__clock{
        gap: 15px;
    }

    /* <<---------------- section 2 --------------------> */


    .stage .ball{
        width: 40px; height: 40px;
    }




    /* <<---------------- section 3 --------------------> */

    .container-buttons input[type="date"]{
        width: 160px;
        height: 32px;
        font-size: 15px;
    }

    .cont-btn__bottom input[type="text"]{
        width: 100%;
        height: 45px;
        font-size: 15px;
    }

    .container-buttons button{
        width: 75px;
        height: 35px;
        font-size: 15px;
    }

    .container-countdown{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        margin-bottom: 40px;
        row-gap: 10px;
    }

    .container-countdown .box{
        width: 90px;
        height: 125px;
    }

    .container-title-countdown .title-countdown{
        font-size: 25px;
    }

    .container-countdown .box span:first-child{
        font-size: 45px;
    }

    .container-countdown .box span:last-child{
        font-size: 14px;
    }
}


