@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&family=Prompt:ital,wght@0,200;0,400;1,200;1,400&display=swap');
:root{
    --color-naranja: #FE9A22;
    --color-azul: #2EC5CE;
    --color-icon-header-bg: #e7e7e8;
    --color-icon-header: #969BAB;
    --font-size-logo: 20px;
    --color-text: #18191F;
}


.header{
    position: sticky;
    top: 0;
    padding: 20px 165px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}

.header .container-btn__menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.container-btn__menu .container-logo{
    cursor: pointer;
}

.container-btn__menu .container-logo i{
   color: var(--color-naranja) ;
   font-size: 30px;
}

.container-btn__menu .left-nav-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;

} 

.left-nav-items a{
    text-decoration: none;
    color: var(--color-text);
    font-size: 16px;
    font-weight: 500;
    font-family: 'Manrope', sans-serif;
}


.header .logotype{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     gap: 10px;
} 

.logotype .logo-svg i{
    font-size: 30px;
    color: var(--color-naranja);
}

.logotype a{
    text-decoration: none;
    color: var(--color-text);
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: 800;
}


.header .social-links{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.social-links a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--color-icon-header-bg);
    transition: all .1s ease;
}

.social-links a i{
    font-size: 28px;
    color: var(--color-icon-header);
    transition: all .1s ease;
}

.social-links a:hover{
    background-color: #d1d1d1;
}

.social-links a:hover i{
    color: #616572;
}
















