@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&family=Prompt:ital,wght@0,200;0,400;1,200;1,400&display=swap');
:root{
    --color-naranja: #FE9A22;
    --color-naranja-claro: #FFC278;
    --color-azul: #2EC5CE;
    --color-icon-header-bg: #e7e7e8;
    --color-icon-header: #969BAB;
    --font-size-logo: 20px;
    --color-text: #18191F;
}

body{
    font-family: 'Manrope', sans-serif;
    overflow-y: overlay;
}

body::-webkit-scrollbar{
    width: 8px;
}

body::-webkit-scrollbar-thumb{
    background-color: #D2D2D2;
    border-radius: 5px;
}

.header{
    position: sticky;
    top: 0;
    padding: 20px 165px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 900;
    background: #fff;
}

.header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    z-index: 900;
}

.header .container-btn__menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.container-btn__menu .container-logo{
    cursor: pointer;
}

.container-btn__menu .container-logo i{
   color: var(--color-naranja) ;
   font-size: 30px;
}

.container-btn__menu .left-nav-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;

} 

.left-nav-items a{
    text-decoration: none;
    color: var(--color-text);
    font-size: 16px;
    font-weight: 500;
    font-family: 'Manrope', sans-serif;
}


.header .logotype{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     gap: 10px;
} 

.logotype .logo-svg i{
    font-size: 30px;
    color: var(--color-naranja);
}

.logotype a{
    text-decoration: none;
    color: var(--color-text);
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: 800;
}


.header .social-links{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.social-links a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--color-icon-header-bg);
    transition: all .1s ease;
}

.social-links a i{
    font-size: 28px;
    color: var(--color-icon-header);
    transition: all .1s ease;
}

.social-links a:hover{
    background-color: #d1d1d1;
}

.social-links a:hover i{
    color: #616572;
}

/* <<---------------------------- menu desplegable --------------------------------->> */

aside .screen-menu__open{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #50505085;
    z-index: 1001;
    top: 0;
    left: 0;
    
    transition: all .3s ease-out;
}

aside .container-menu{
    z-index: 1002;
    position: absolute;
    top:0;
    left:0;
    width: 370px;
    height: 100%;
    background-color: #fff;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    transition: all .2s ease-in-out;
}

.container-menu .btn-folded{
    position: absolute;
    right: 30px;
    top: 31px;
    cursor: pointer;

    transition: all .1s ease-in;
}

.container-menu .btn-folded:hover{
    right: 35px;
}

.btn-folded i{
    color: #969BAB;
    font-size: 31px;
}

.container-menu .header-menu{
    display: flex;
    align-items: flex-end;
    padding-left: 27px;
    height: 146px;
} 

.header-menu h3{
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
}

.container-menu .menu-link-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 27px;
    padding: 52px 0px 0px 27px;
}

.menu-link-section .link-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    gap: 8px;
    text-decoration: none;
    color: var(--color-text);
    transition: all .1s ease-in;
}

.menu-link-section .link-section:hover{
    transform: translateX(8px);
}

.link-section .icon i{
    font-size: 20px;
    margin-right: 5px;
}

.link-section h3{
    margin: auto;
}

.link-section h3::first-child{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-text);
}

.link-section h3:last-child{
    color: var(--color-icon-header);
}

.container-menu.unfolded{
    transform: translateX(-100%);
}

.screen-menu__open.hidden{
    opacity: 0;
    visibility: hidden;
}

.container-menu:hover{
    overflow-y: overlay;
}

.container-menu::-webkit-scrollbar{
    width: 8px;
}

.container-menu::-webkit-scrollbar-thumb{
    background-color: #D2D2D2;
    border-radius: 5px;
}


/* <<---------------------------- section 1 --------------------------------->> */


section .container-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 165px;
    margin: auto;
}

.container-section .container-titles{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.container-titles h3,
.container-titles h2{
    font-family: 'Manrope', sans-serif;
    margin: auto;
}

.container--titles h2{
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
}

.container-titles h3{
    font-size: 48px;
    line-height: 64px;
    font-weight: 800;
}

.container-section .reloj{
   font-size: 5.5em;
   font-weight: 200;
   /* line-height: 98px; */
   margin: .7em 5px;
}

.container-section .container-btn__clock{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 37px;
    padding: 0;
}

.container-btn__clock button{
    width: 200px;
    height: 68px;
    border: none;
    border-radius: 4px;
    background-color: var(--color-azul);
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;

    box-shadow: 0px 2px 4px rgba(136, 144, 194, 0.2), 0px 5px 15px rgba(37, 44, 97, 0.15);
    transition: all .05s ease-in;

}

.container-btn__clock button:hover,
.container-btn__clock button:focus{
    background-color: #45e2eb;
}

.container-clock{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.container-clock p.pause{
    margin-bottom: 5.5em;
    font-size: 22px;
    font-weight: 800;
    color: #eb3a3a;
}

p.pause.hidden{
    visibility: hidden;
    opacity: 0;
}



/* <<---------------------------- section 2 --------------------------------->> */

.stage{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 25em;
    background-color: var(--color-icon-header-bg);
    border-radius: 20px;
}

.stage .ball{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    background-color: var(--color-naranja-claro);
}









